### Default ignored files ###
/shelf/
### Editor-based HTTP Client requests ###
/httpRequests/
### Datasource local storage ignored files ###
/dataSources/
/dataSources.local.xml

### Package Files ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Log file ###
*.log

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Some additional ignores (sort later) ###
*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
.exercism